/* Estilos específicos para la página de contacto */

.mapContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* Proporción 16:9 */
    margin: 3rem auto 0;
    border-radius: 8px;
    border: 2px solid #dee2e6;
}

.mapContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
